.login-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 30px;
}

.button-container {
    display: flex;


}

.new-item-form input {
    outline: none;
    border: 1px solid #d9b6d9;
    /* Pink border */
    background: #f5e3f4;
    /* Light pink background */
    border-radius: 2.25em;
    padding: 1em 0.5em;
    width: 75%;

    color: #000000;
    /* Black text for better contrast */
}