.container {
    display: grid;
    place-items: center;
    /* Center both horizontally and vertically */
    min-height: 100vh;
}

@media (max-width: 768px) {

    /* Adjust breakpoint as needed */
    .container {
        display: flex;
        flex-direction: column-reverse;
        /* Align items to the end (right) */
        align-items: flex-end;
    }

    .loginContainer {
        width: 90%;
        margin-top: 20px;
        margin-right: 20px;
        /* Add margin to push the form to the right */
    }

    .logTitel {
        margin-left: 0;
        text-align: right;
        /* Align title to the right */
    }
}
.logTitel{
    margin-left: 65px;
}

.loginForm input {
    outline: none;
    border: 1px solid #d9b6d9;
   
    background: #f5e3f4;
    
    border-radius: 2.25em;
    padding: 1em 0.5em;
    width: 70%;
    color: #000000;
    margin: 7px;
    
}
.loginContainer {
    width: 85%;
    padding: 20px;
}

.loginButton {
    background:
        #f5e3f4;
    /* Light pink background */
    border: 1px solid #d9b6d9;
    /* Pink border */
    color: #cf4bcf;
    /* Pink text */
    padding: 0.55em 0.5em;
    border-radius: 1.25em;
    cursor: pointer;
    outline: none;
    width: 25%;
    font-size: medium;
    margin: 7px;
    margin-left: 50px;
    font-weight: bold;
}

