.container {
  display: grid;
 place-items: center;
  min-height: 100vh;
}
.registratonContainer{
      width: 65%;
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
}
.label{
    font-size: 20px;
    font-weight: bold;
}

.registrationForm {
 outline: none;
  border: 1px solid #d9b6d9;
  background-color: #fff;
  border-radius: 2.25em;
  padding: 1em 0.5em;
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
    
}

.registrationButton {
     background:
        #f5e3f4;
    /* Light pink background */
    border: 1px solid #d9b6d9;
    /* Pink border */
    color: #cf4bcf;
    /* Pink text */
    padding: 0.55em 0.5em;
    border-radius: 1.25em;
    cursor: pointer;
    outline: none;
    width: 25%;
    font-size: medium;
   font-weight: bold;
 font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 20px;
}
.registrationButton:hover {
 background: #d9b6d9;
    /* Darker pink background on hover */
    color: #cf4bcf; 
}
