.container {
  display: flex;
  /* Change to flexbox for mobile */
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
   
    
  }
}

.registratonContainer {
  max-width: 90%;
  background-color: white;
  padding: 20px;
}

@media (min-width: 768px) {
  .registratonContainer {
    max-width: 600px;
  }
}

.formRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .formRow {
    flex-direction: row;
    align-items: center;
  }
}

.label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

@media (min-width: 768px) {
  .label {
    margin-right: 10px;
    text-align: right;
    flex: 0 0 140px;
  }
}

.registrationForm {
  width: 100%;
  outline: none;
  border: 1px solid #d9b6d9;
  background-color: #fff;
  border-radius: 2.25em;
  padding: 12px;
  font-size: 16px;
}

.fieldContainer {
  position: relative;
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}

.registrationButton {
  display: block;
 
  background: #f5e3f4;
  border: 1px solid #d9b6d9;
  color: #cf4bcf;
  padding: 12px 20px;
  border-radius: 1.25em;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
}

.registrationButton:hover {
  background: #d9b6d9;
  color: #cf4bcf;
}
.registrationButtonDirection {
  display: flex;
  justify-content: flex-end;
  /* Align elements to the right */
}
@media (max-width: 767px) {

  /* Adjust breakpoint as needed */
  .registrationButtonDirection {
    display: flex;
    justify-content: flex-start;
    /* Align to the left */
    margin-top: 15px;
    /* Add some space above the button */
  }
}